<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>eZY-Money</span>
 <div class="rhs">
  <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
    <button (click)="signIn()" mat-button> Sign in </button>
  </ng-container>
  
  <ng-template #signout>
    <button (click)="signOut()" mat-button>Sign out</button>
  </ng-template>
 </div>
  
</mat-toolbar>

<!-- <app-task *ngFor="let task of todo" [task]="task"></app-task> -->
<div class="content-wrapper">
  <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button>
<div class="container-wrapper ">
  <div class="container backlog">
    <h2>Backlog</h2>

    <mat-card
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, inProgressList]"
      class="list">
      <p class="empty-label" *ngIf="todo.length === 0">Empty list</p>
      <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo" cdkDrag [task]="task"></app-task>
    </mat-card>
  </div>

  <div class="container inprogress">
    <h2>In progress</h2>

    <mat-card
      cdkDropList 
      id="inProgress"
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      
      class="list">
      <p class="empty-label" *ngIf="inProgress.length === 0">Empty list</p>
      <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress" cdkDrag [task]="task"></app-task>
    </mat-card>
  </div>

  <div class="container done">
    <h2>Done</h2>

    <mat-card
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      
      class="list">
      <p class="empty-label" *ngIf="done.length === 0">Empty list</p>
      <app-task (edit)="editTask('done', $event)" *ngFor="let task of done" cdkDrag [task]="task"></app-task>
    </mat-card>
  </div>
  </div>
  <div></div>
</div>
<router-outlet></router-outlet>