<div class="detail-container">
    <mat-toolbar color="primary">Customer Details</mat-toolbar>
    <div class="det-container">
        <div class="name mt-15">
            <label for="">First Name</label>
            <input type="text" placeholder="First Name">
            <label for="">Last Name</label>
            <input type="text" placeholder="last Name">
        </div>
    <div class="second mt-15">
        <label for="">Location</label>
        <input type="text" placeholder="Bangalore">
        <label for="">Requested amount</label>
        <input type="text" placeholder="2000">
        <label for="">Credit Score</label>
        <input type="text" class="credInput">
        <label for="">Status</label>
        <input type="text" placeholder="pending">
    </div>
    <div class="third mt-15">
        <label for="">Description</label>
        <textarea name="" id="" cols="30" rows="10" 
        placeholder="Requested for agriculture purpose"></textarea>
     
    </div>
    </div>
</div>
